{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Sessions{% endblock %}

{% block heading %}{{till}} — Sessions{% endblock %}

{% block tillcontent %}

<h2>Find session</h2>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
  <button class="btn btn-primary" type="submit" name="submit_find">
    Find session
  </button>
</form>

<h2>Recent sessions</h2>

<table class="table table-sm" id="recentsessions">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Discounts</th>
      <th scope="col">Till Total</th>
      <th scope="col">Actual Total</th>
      <th scope="col">Difference</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script type="text/javascript">
function render_money(data, type, row) {
    if (data && Math.abs(data) > 0.001) {
	return '{{money}}' + data;
    }
    return '';
};

function render_session_link(data, type, row) {
    return '<a href="' + row['url'] + '">' + data + '</a>'
};

function render_day(data, type, row) {
    days = [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
	     'Friday', 'Saturday', 'Sunday' ];
    return days[data]
};

$(document).ready(function(){
    $("#recentsessions").DataTable({
	ajax: {
	    url: '{% url "datatable-sessions" pubname=pubname %}',
	    dataSrc: 'data'
	},
	columns: [
	    { data: 'id',
	      render: render_session_link,
	      searchable: false },
	    { data: 'date',
	      render: render_session_link,
	      searchable: false },
	    { data: 'day',
	      orderable: false,
	      render: render_day },
	    { data: 'discount',
	      render: render_money,
	      searchable: false },
	    { data: 'total',
	      render: render_money,
	      searchable: false },
	    { data: 'actual_total',
	      render: render_money,
	      searchable: false },
	    { data: 'error',
	      render: render_money,
	      searchable: false }
	],
	order: [ [0, 'desc'] ],
	searching: true,
	paging: true,
	serverSide: true
    });
});
</script>
<p></p>

<h2>Download spreadsheet</h2>
<form action="" method="post">{% csrf_token %}
<table class="kvtable">
{{ rangeform.as_table }}
</table>
<button class="btn btn-secondary" type="submit" name="submit_sheet">
  Download
</button>
</form>

<script type="text/javascript">
var dtpicker_options = {firstDay: 1,
  dateFormat: 'yy-mm-dd'};
$(document).ready(function(){
 $("#id_startdate").datepicker(dtpicker_options);
 $("#id_enddate").datepicker(dtpicker_options);
});
</script>

{% endblock %}
